<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h2><%= t(".title") %></h2>
    <%= simple_form_for :session, url: session_create_url do |f| %>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
          <%= f.input :email, label: false %>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
          <%= f.input :password, label: false %>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" href="#" class="btn btn-primary pull-right">
          <%= t(".submit") %>
          <i class="glyphicon glyphicon-log-in"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>
