<div class="row">
  <div class="col-md-12">
    <hr>
    <h3>
      <%= @month_attendance.employee.name %>
      <small class="pull-right"><%= @month_attendance.month_formatted %></small>
    </h3>
    <% if @month_attendance.attendances.any? %>
      <table class="table table-striped">
        <thead>
          <th width="90"><%= t("activerecord.attributes.attendance.day") %></th>
          <th width="90"><%= t("activerecord.attributes.attendance.entrance_at") %></th>
          <th><%= t("activerecord.attributes.attendance.departure_at") %></th>
          <th width="60"><%= t("month_attendances.show.total") %></th>
        </thead>
        <tbody>
          <% @month_attendance.attendances.decorate.each do |attendance| %>
            <tr class="<%= "danger" if attendance.departure_at.nil? %>">
              <td><%= l(attendance.day) %></td>
              <td><%= attendance.entrance_time %></td>
              <td><%= attendance.departure_time %></td>
              <td><%= attendance.total %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <th><%= t("month_attendances.show.total") %></th>
          <th></th>
          <th></th>
          <th><%= @month_attendance.total_time %></th>
        </tfoot>
      </table>
    <% else %>
      <p class="alert alert-info"><%= t("month_attendances.show.attendances_empty") %></p>
    <% end %>
  </div>
</div>
