<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= render "form" %>

    <% if @month_attendance.valid? %>

      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3><%= @month_attendance.employee.name %> <small class="pull-right"><%= l(@month_attendance.month, format: "%B / %Y") %></small></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <% if @month_attendance.attendances.any? %>
            <table class="table table-striped">
              <thead>
                <th width="90"><%= t("activerecord.attributes.attendance.day") %></th>
                <th width="90"><%= t("activerecord.attributes.attendance.entrance_at") %></th>
                <th><%= t("activerecord.attributes.attendance.departure_at") %></th>
                <th width="60"><%= t(".total") %></th>
              </thead>
              <tbody>
                <% @month_attendance.attendances.each do |attendance| %>
                  <tr class="<%= "danger" if attendance.departure_at.nil? %>">
                    <td><%= l(attendance.day) %></td>
                    <td><%= datetime_to_time(attendance.entrance_at) %></td>
                    <td>
                      <% if attendance.departure_at.present? %>
                        <%= datetime_to_time(attendance.departure_at) %>
                      <% else %>
                        <strong><%= t(".without_departure") %></strong>
                      <% end %>
                    </td>
                    <td>
                      <% if attendance.departure_at.present? %>
                        <%= seconds_to_time(attendance.departure_at - attendance.entrance_at) %>
                      <% else %>
                        -
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
              <tfoot>
                <th><%= t(".total") %></th>
                <th></th>
                <th></th>
                <th><%= seconds_to_time(@month_attendance.total_in_seconds) %></th>
              </tfoot>
            </table>
          <% else %>
            <p class="alert alert-info"><%= t(".attendances_empty") %></p>
          <% end %>
        </div>
      </div>

    <% end %>

  </div>
</div>
